
.home,
.page-template-page-tempo,
.menu-open {
	.header__content {
		background-color: transparent;
	}
	#logo-anchor {
		color: white;
		svg {
			fill: #ffffff;
			.cls-2 {
				fill: #ffffff;
			}
		}
	}
	.home-content {
		height: 100vh;
		overflow: hidden;
		.slider-item {
			height: 100vh;
		}
		.slick-slide {
			border: none;
		}

		a,
		img{ 
			height: 100vh;
			width: 100%;
			display: block;
			object-fit: cover;
		}

		figure {
			margin-bottom: 0;
		}
		figure {
			position: relative;
			figcaption {
				position: absolute;
				bottom: 0;
				width: 100%;
				box-sizing: border-box;
				justify-content: space-between;
				padding: 13px 20px;
				margin: 0;
				background-color: @grey;
				color: white;
			
				display: flex;
			
				transform: translateY(100%);
				opacity: 0;
			
				transition: transform 0.35s ease, opacity 0.35s ease;
			}

			h2, span {
				font-size: 16px;
				font-weight: 400;
				font-family: 'Inter', sans-serif;
			}
	
			&:hover figcaption {
				transform: translateY(0);
				opacity: 1;
				
			}
		}
		@media screen and (max-width: @screen-md-2) {
			figure {
				figcaption {
					transform: translateY(0);
					opacity: 1;
				}
			}
			
		}
	}
	
	ul#main-menu li a  {
		color: white
	}
	header .header-2 {
		border-color: white;
	}
	ul#main-menu a:hover::before {
		background-color: white;
	}
	.menu-open 	#mobile-menu-trigger span {
		background-color: white;
	}
	#mobile-menu-trigger span {
		background-color: white;
	}
	.trp-language-item-name {
		color: white !important;
	}

}
.home {
	.header__content {
		background: linear-gradient(to bottom, rgba(46, 45, 45, 0.8), rgba(46, 45, 45, 0));
	}
}