.project-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: 0;
	width: 100%;
	gap: 30px;

	.project-list__item {
		width: calc((100% - 90px) / 4);
		text-decoration: none;
		position: relative;
		overflow: hidden;
		img {
			filter: grayscale(100%);
			width: 100%;
			object-fit: cover;
			aspect-ratio: 1/1;
			transition: filter 0.4s ease;
		}
		.project-list__item-description {
			position: absolute;
			bottom: 0;
			width: 100%;
		
			display: flex;
			justify-content: space-between;
		
			background-color: white;
			padding-top: 6px;
		
			transform: translateY(100%);
			opacity: 0;
		
			transition: transform 0.4s ease, opacity 0.3s ease;
		
			h2,
			p {
			  font-size: 16px;
			  color: #000;
			}
		  }
		
		  &:hover {
			img {
				filter: grayscale(0);		
			}
			.project-list__item-description {
			  transform: translateY(0);
			  opacity: 1;
			}
		  }
	}
}


.project-list.relacionados {
	.project-list__item {
		width: 22.5%;
		margin-right: 2.5%;
		text-decoration: none;
	}
}
@media screen and (max-width: 950px) {
	#resultado-posts.project-list {
		.project-list__item {
			width: calc((100% - 30px) / 2);
			
		}
	}

}
@media screen and (max-width: 600px) {
	#resultado-posts.project-list {
		flex-direction: column;
		.project-list__item {
			width: 100%;
			.project-list__item-description {
				display: flex;
				opacity: 1;
				bottom: 30px;
			
				p {
					margin-bottom: 0;
				}
			}
			&:hover {
				.project-list__item-description {
				  transform:unset;
				  opacity: 1;
				  bottom: 0;
				}
			}
		}
	
	}

}